body {
  background-color: lightblue;
}

#questions {
  border-style: groove;
  border-width: medium;
  border-color: black;
  border-radius: 5%;
  padding: 15px;
}

#answers {
  border-style: inset;
  border-width: thin;
  border-color: black;
  border-radius: 10%;
  padding: 15px;
  background-color: pink;
  display: none;
  margin-top: 10px;
}

#php {
  display: none;
}

#css {
  display: none;
}

#ruby {
  display: none;
}

#java {
  display: none;
}
